<header>
    <div id="navbar">
      <a href="#about" class="nav-link"
        ><i class="bi bi-person"></i> <span>About Me</span></a
      >
      <a href="#resume" class="nav-link"
        ><i class="bi bi-file-person-fill"></i> <span>Resume</span></a
      >
      <a href="#competences" class="nav-link"
        ><i class="bi bi-card-list"></i> <span>Compétences</span></a
      >
      <a href="#projects" class="nav-link"
        ><i class="bi bi-person-workspace"></i>
        <span>Expérience/Projects</span></a
      >
      <a href="#Loisir" class="nav-link">
        <i class="bi bi-balloon-heart-fill"></i>
        <span>Loisir</span></a
      >
    </div>
  </header>
  <section id="hero" class="hero__StyledHeroSection-sc-116xg8t-0 eEjAsd">
    <div class="fadeup-enter-done">
      <h1>Hi,my name is</h1>
    </div>
    <div class="fadeup-enter-done">
      <h2 class="big-heading">Yassir AIT TMILLA</h2>
    </div>
    <div class="fadeup-enter-done">
      <p>I'm a <span id="text"></span><span id="cursor"></span></p>
      <p></p>
    </div>
    
  </section>
  