/* Add a black background color to the top navigation */
.nav {
    background-color: white;
    position: fixed;
    overflow: hidden;
    float: none;
    top: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    transition: 0.3s;
    background-size: cover;
    overflow-x: hidden;
    z-index: 1;
    padding-left: 0px;
    display: block;
  }


  /* Style the links inside the navigation bar */
  .nav a {
    float: center;
    color: var(--slate);
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: inline;

  }

  /* Change the color of links on hover */
  #navbar a:hover {
    background-color: black;
    color: var(--green);
  }
  .icon {
    display: none;
  }
  .Name {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 10vh;
    height: 66vh;
    padding: 0px;
    padding-left: 10%;
  }

  .Name h1 {
    margin: 0px 0px 30px 4px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
    font-weight: 400;
  }
  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .Name h2 {
    color: white;
  }
  h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.1em;
    margin-block-end: 0.83em;
    margin-inline-start: 45px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .big-heading {
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
  }
  .Name p {
    text-align: center;
    max-width: 540px;
    font-size: clamp(5px, 8vw, 30px);
  }
  #hero p #text {
    color: var(--green);
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #ffffff;
    font-weight: bold;
  }

  #hero {
    width: 100%;
    height: 100vh;
    background: url('https://i.imgur.com/X09dWhp.jpg') center left;
    background-size: cover;
  }
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background-color: #000000;
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
  }
  @keyframes blink {
    from,
    to {
      background-color: transparent;
    }
    50% {
      background-color: rgb(255, 255, 255);
    }
  }


@media screen and (max-width: 960px) {
  #hero {
    height: 110vh;
    width:200%;
  }
  .nav a {
    display: block;
  }
  .nav{
    height: 327px;
  }
}


