#cursor {
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 30px;
    margin-left: 5px;
    animation: blink 0.75s step-end infinite;
  }
  .big-heading h1 {
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
  }

  @keyframes blink {
    from,
    to {
      background-color: transparent;
    }
    50% {
      background-color: rgb(255, 255, 255);
    }
  }
  .grid {
    padding: 100px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    column-gap: 0.5em;
    grid-column-gap: 0.5em; /* for older browsers */
    row-gap: 0.5em;
    grid-row-gap: 0.5em; /* for older browsers */
  }
  .grid_resume {
    padding: 100px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    column-gap: 0.5em;
    grid-column-gap: 0.5em; /* for older browsers */
    row-gap: 0.5em;
    grid-row-gap: 0.5em; /* for older browsers */
  }
  .grid_resume h3 {
    color: var(--green);
  }
  #main{
    background: url("https://i.imgur.com/yDIAh6H.png") center;
  }
  /*
  About me
  */

  .about {
    margin: 0px auto;
    padding: 200px;
    max-width: 900px;
    padding-bottom: 310px;
  }

  .resume {
    padding-top: 200px;
    margin: 0px auto;
    max-width: 900px;
    height: 1300px;
  }
  strong {
    color: var(--green);
  }
  .grid h3 {
    color: var(--green);
  }
  .grid_skill{
    padding: 100px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    column-gap: 0.5em;
    grid-column-gap: 0.5em; /* for older browsers */
    row-gap: 0.5em;
    grid-row-gap: 0.5em; /* for older browsers */

  }
  .grid_skill span{
    color: var(--green);
  }

  .competences{
    padding: 200px 100px;
    margin: 0px auto;
    max-width: 900px;
    padding-bottom: 200px;
  }
  .projects{
    padding: 200px 150px;
    margin: 0px auto;
    max-width: 900px;
  }
  .loisir {
    margin: 0px auto;
    padding: 200px;
    max-width: 900px;
    padding-bottom: 310px;
  }
  .loisir h2{
    color: rgb(235, 252, 6);
  }
  mdb-carousel {
    padding: 100px 0px;
    

  }
  .grid_projects{
    padding: 100px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    column-gap: 0.5em;
    grid-column-gap: 0.5em; /* for older browsers */
    row-gap: 0.5em;
    grid-row-gap: 0.5em; /* for older browsers */

  }
  .data-card {
    display:flex;
    flex-direction: column;
    max-width: 20.75em;
    min-height: 20.75em;
    overflow: hidden;
    border-radius: .5em;
    text-decoration: none;
    background: rgb(0, 0, 0);
    margin: 1px;
    padding: 2.75em 2.5em;
    box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
    transition: transform .45s ease, background .45s ease;
  }
  
  .data-card:hover {
    background: #173b6c;
    transform: scale(1.02);
  }
  .data-card h1{
    color:var(--green)

  }
  .data-card p{
    color:rgb(222, 222, 228)

  }
  .data-card:hover p {
    opacity: 1;
    transform: none;
    color: #FFFFFF;
  }
  @media screen and (max-width: 930px) {
    .about {
      width: 70%;
      padding: 200px 0px;
      padding-bottom: 10px;
    }
    .resume {
      width: 70%;
      padding: 50px 0px;
      height: 1300px;
    }
    .grid {
      padding: 0px 45px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 400px;
      column-gap: 0.5em;
      grid-column-gap: 0.5em; /* for older browsers */
      row-gap: 0.5em;
      grid-row-gap: 0.5em; /* for older browsers */
    }
    .grid_resume {
      padding: 0px 45px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 1000px;
      column-gap: 0.5em;
      grid-column-gap: 0.5em; /* for older browsers */
      row-gap: 0.5em;
      grid-row-gap: 0.5em; /* for older browsers */
    }
    .grid_skill {
      padding: 0px 0px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 100px;
      column-gap: 0.5em;
      grid-column-gap: 0.5em; /* for older browsers */
      row-gap: 0.5em;
      grid-row-gap: 0.5em; /* for older browsers */
    }
    .grid_projects {
      padding: 20px 0px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 350px;
      column-gap: 0.5em;
      grid-column-gap: 0.5em; /* for older browsers */
      row-gap: 0.5em;
      grid-row-gap: 0.5em; /* for older browsers */
    }
    .data-card{
      transform: scale(1.02);
    }
    .competences{
      padding-top: 500px;
    }
    .projects {
      padding-left: 100px;
      padding-top:20px ;
    }
    .loisir{
      padding: 200px 100px;
    }
    .data-card:hover {
      background: #000000;
      transform: scale(1.02);
    }
  }
  @media screen and (max-width="900"){
    .about{
      margin: 0px auto;
      padding: 10px;
      max-width: 900px;
      padding-bottom: 310px;
    }
  }
