<main id="main">
    <section id="about" class="about">
      <div class="container">
        <div
        class="big-heading">
          <h1>About Me</h1>
          <p>
            Futur Cloud ingénieur informatique de l'école Cy Tech Pau. Je suis
            actuellement à la recherche d'un stage de fin d'étude dans le domaine du
            cloud . Je suis prêt à appliquer mes acquis en gestion des systèmes
            d'information à vos équipes et à contribuer aux succès de vos projet
          </p>
        </div>

        <div class="grid">
          <div class="img" data-aos="fade-right">
            <img src="https://i.imgur.com/m49GKYb.png" class="img-fluid rounded-circle">
          </div>
          <div class="one" data-aos="fade-right"
            data-aos="fade-left"
            data-aos-duration="3000"
          >
            <h3>FullStack Dev.</h3>
            <p class="fst-italic">
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            </p>
            <div class="row">

                <ul>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <strong>Birthday:</strong> <span> 20 Fevrier 1999</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                    <span>(+33)7 55 72 62 91 </span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i> <strong>City:</strong>
                    <span>Pau, France</span>
                  </li>
                </ul>


                <ul>
                  <li>
                    <i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                    <span> 23</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i> <strong>Degree:</strong>
                    <span>Computer Engineering Degree</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <strong>Email:</strong>
                    <span> aittmilla.yassir@gmail.com</span>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="resume" class="resume">
      <div class="container">
        <div class="big-heading">
          <h1>Resume</h1>
        </div>
      </div>

      <div class="grid">
        <div
          class="one"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500"
        >
          <h3 class="resume-title">Sumary</h3>
          <h4>Yassir AIT TMILLA</h4>
          <p>
            <em
              >Developer Fullstack avec 1 ans d'expérience,ancien stagière du group Hager.</em
            >
          </p>
          <ul>
            <li>Avenue du loup,</li>
            <li>(+33)7 55 72 62 91 </li>
            <li>aittmilla.yassir@gmail.com</li>
          </ul>
          <h3>Education</h3>

          <h4>Diplome d'ingenieure en Système informatique Spé Cloud</h4>
          <h5>2021-2023</h5>
          <p><em>CY TECH, PAU, FR</em></p>
          <p>
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
          </p>

          <h4>Cycle préparatoire </h4>
          <h5>2017 - 2021</h5>
          <p><em>ENSAM, Maroc, MA</em></p>
          <p>
          xxxxxxxxxxxxxxxxxxxxxxxxx
          xxxxxxxxxxxxxxxxxxxxxxxxx
          xxxxxxxxxxxxxxxxxxxxxxxxx
          </p>
        </div>
        <div
          class="two"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500"
        >
          <h3>Professional Experience</h3>
          <h4>XXXXXXXXXXXXXXXX</h4>
          <h5>XXXXXXXXX</h5>
          <p><em>XXXXXXXXXXXXXXXXXXX </em></p>
          <ul>
            <li>
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            </li>
            <li>
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            </li>
            <li>
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            </li>
            <li>
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            </li>
          </ul>

          <h4>XXXXXXXXXXXXXXX</h4>
          <h5>XXXXXXXXXXXX</h5>
          <p><em>XXXXXXXXXXXXXXXXXXX</em></p>
          <ul>
            <li>
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            </li>
            <li>
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            </li>
            <li>
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            </li>
            <li>
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            </li>
          </ul>
        </div>
      </div>
    </section>
      <section id="competences" class="competences">
        <div class="big-heading">
          <h1 >Skills</h1>
          <p>
            Parmis les languages que je maitrise le plus :
          </p>
          <div class="grid_skill"

          data-aos="fade-right"
          data-aos-easing="linear"
          data-aos-duration="1500">
            <div>
            <span class="skill">Python</span>
            <p>
              <mat-progress-bar value=90
                ><i>100%</i></mat-progress-bar
              >
            </p>
            </div>
            <div>
            <span class="skill">JS</span>
            <p>
              <mat-progress-bar value=80
                ><i>100%</i></mat-progress-bar
              >
            </p>
            </div>
            <div>
            <span class="skill">Java</span>
            <p>
              <mat-progress-bar value=80
                ><i>100%</i></mat-progress-bar
              >
            </p>
            </div>
            <div>
            <span class="skill">C</span>
            <p>
              <mat-progress-bar value=90
                ><i>100%</i></mat-progress-bar
              >
            </p>
            </div>
            <div>
            <span class="skill">C++</span>
            <p>
              <mat-progress-bar value=70
                ><i>100%</i></mat-progress-bar
              >
            </p>
            </div>
            <div>
            <span class="skill">HTML</span>
            <p>
              <mat-progress-bar value=80><i>100%</i></mat-progress-bar>
            </p>
            </div>
          </div>
        </div>
      </section>
      <section id="projects" class="projects">
        <div class="container">
          <div class="big-heading">
            <h1>Projects</h1>
            <p>
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            </p>
          </div>
        </div>
        <div class="grid">
          <div class="one"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500"> <h3>PROJECT1</h3>

          </div>
          <div           class="one"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500"> <h3>PROJECT2</h3>

          </div>
          <div class="one"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500"> <h3>PROJECT3</h3>

          </div>
          <div class="one"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500"> <h3>PROJECT4</h3>
          </div>
        </div>
      </section>

      <section id="loisir" class="loisir">



      </section>
    </main>
