<main id="main">
    <section id="about" class="about">
      <div class="container">
        <div
        class="big-heading">
          <h1>About Me</h1>
          <p>
            Futur Cloud ingénieur informatique de l'école Cy Tech Pau. Je suis
            actuellement à la recherche d'un stage de fin d'étude dans le domaine du
            cloud . Je suis prêt à appliquer mes acquis en gestion des systèmes
            d'information à vos équipes et à contribuer aux succès de vos projet
          </p>
        </div>

        <div class="grid">
          <div class="img" data-aos="fade-right">
            <img src="https://i.imgur.com/m49GKYb.png" class="img-fluid rounded-circle">
          </div>
          <div class="one" data-aos="fade-right"
            data-aos="fade-left"
            data-aos-duration="3000"
          >
            <h3>FullStack Dev.</h3>
            <p class="fst-italic">
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxx
            </p>
            <div class="row">

                <ul>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <strong>Birthday:</strong> <span> 20 Fevrier 1999</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                    <span>(+33)7 55 72 62 91 </span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i> <strong>City:</strong>
                    <span>Pau, France</span>
                  </li>
                </ul>


                <ul>
                  <li>
                    <i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                    <span> 23</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i> <strong>Degree:</strong>
                    <span>Computer Engineering Degree</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <strong>Email:</strong>
                    <span> aittmilla.yassir@gmail.com</span>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="resume" class="resume">
      <div class="container">
        <div class="big-heading">
          <h1>Resume</h1>
        </div>
      </div>

      <div class="grid_resume">
        <div
          class="one"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500"
        >
          <h3 class="resume-title">Sumary</h3>
          <h4>Yassir AIT TMILLA</h4>
          <p>
            <em
              >Developer Fullstack avec 1 ans d'expérience,ancien stagière du group Hager.</em
            >
          </p>
          <ul>
            <li>Avenue du loup,</li>
            <li>(+33)7 55 72 62 91 </li>
            <li>aittmilla.yassir@gmail.com</li>
          </ul>
          <h3>Education</h3>

          <h4>Diplome d'ingenieure en Système informatique Spé Cloud</h4>
          <h5>2021-2023</h5>
          <p><em>CY TECH, PAU, FR</em></p>
          <p>
            Une grande école d'informatique française où je poursuis un diplôme d'ingénieur en
            informatique spécialité cloud computing.
          </p>

          <h4>Cycle préparatoire </h4>
          <h5>2017 - 2021</h5>
          <p><em>ENSAM, Meknes, Maroc</em></p>
          <p>
            Cursus scientifique très séléctif de 2 ans
          </p>
          <h4>Baccalauréat scientifique </h4>
          <h5>2016 - 2017</h5>
          <p><em>Lycée Berrada, Casablanca, Maroc</em></p>
          <p>
            Obtention d'un baccalauréat BIOF (option francaise) avec une mention très bien
          </p>
        </div>
        <div
          class="two"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500"
        >
          <h3>Professional Experience</h3>
          <h4>Fullstack dev </h4>
          <h5>Hager GROUP</h5>
          <p><em>Avril 2023-Septembre 2023 </em></p>
          <ul>
            <li>
              Conception et développement d’applications back-end (API)
            </li>
            <li>
              Mise en oeurvre d'outils collaboratifs tels que Azure devops
            </li>
            <li>
              Développement de compétences de coordination de projet.
            </li>
          </ul>

          <h4>Stagiere developpement back-end</h4>
          <h5>SisPay</h5>
          <p><em>Mai 2022- Août 2022</em></p>
          <ul>
            <li>
              Développement d'api pour des systemes embarqués
            </li>
            <li>
              Développement de compétences de coordination de projet.
            </li>
          </ul>
        </div>
      </div>
    </section>
      <section id="competences" class="competences">
        <div class="big-heading">
          <h1 >Skills</h1>
          <p>
            Parmis les languages que je maitrise le plus :
          </p>
          <div class="grid_skill"

          data-aos="fade-right"
          data-aos-easing="linear"
          data-aos-duration="1500">
            <div>
            <span class="skill">Python</span>
            <p>
              <mat-progress-bar value=90
                ><i>100%</i></mat-progress-bar
              >
            </p>
            </div>
            <div>
            <span class="skill">JS</span>
            <p>
              <mat-progress-bar value=80
                ><i>100%</i></mat-progress-bar
              >
            </p>
            </div>
            <div>
            <span class="skill">Java</span>
            <p>
              <mat-progress-bar value=80
                ><i>100%</i></mat-progress-bar
              >
            </p>
            </div>
            <div>
            <span class="skill">C</span>
            <p>
              <mat-progress-bar value=90
                ><i>100%</i></mat-progress-bar
              >
            </p>
            </div>
            <div>
            <span class="skill">C++</span>
            <p>
              <mat-progress-bar value=70
                ><i>100%</i></mat-progress-bar
              >
            </p>
            </div>
            <div>
            <span class="skill">HTML</span>
            <p>
              <mat-progress-bar value=80><i>100%</i></mat-progress-bar>
            </p>
            </div>
          </div>
        </div>
      </section>
      <section id="projects" class="projects">
        <div class="container">
          <div class="big-heading">
            <h1>Projects</h1>
          </div>
        </div>
        <div class="grid_projects">
          <div class="one"
          data-aos="fade-right"
          data-aos-easing="linear"
          data-aos-duration="1500">             
          <a class="data-card">
          <h1>Cluster </h1>
          <h4>Ansible</h4>
          <p>
            Configuration d'un cluster HPC 
          </p>
        </a>
        </div>

          
          <div           class="one"
          data-aos="fade-right"
          data-aos-easing="linear"
          data-aos-duration="1500">                         
          <a class="data-card">
            <h1>Wine Prediction API</h1>
            <h4>Python</h4>
            <p>Une api qui permet de predire le score d'un vin d'apres plusieurs parametre</p>
          </a>

          </div>
          <div class="one"
          data-aos="fade-right"
          data-aos-easing="linear"
          data-aos-duration="1500"> 
          
          <a class="data-card">
            <h1>Ecomerce website</h1>
            <h4>Java/Springboot</h4>
            <p>Un site E-comerce</p>
          </a>
          </div>
          <div class="one"
          data-aos="fade-right"
          data-aos-easing="linear"
          data-aos-duration="1500">           
          <a class="data-card">
            <h1>Vol manager</h1>
            <h4>Angular</h4>
            <p>Un site web permetant la gestion du personel / des vols ainsi que les avions d'une entreprise d'aviatioon</p>
          </a>
          </div>
        </div>
      </section>

      <section id="loisir" class="loisir">
        <div>
          <div class="big-heading">
            <h1>Loisir</h1>
          </div>
        
        <mdb-carousel [controls]="true"  [interval]="500000"
        class="one"
        data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-duration="1500">
          <mdb-carousel-item>
            <img
           
              src="https://i.imgur.com/1ZVq1No.jpg"
              class="img-fluid"
             
            />
            <div class="carousel-caption d-none d-md-block">
              <h2>Jeux vidéo</h2>
              <p></p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img
            
              src="https://i.imgur.com/EGxYUDy.jpg"
              class="img-fluid "
              
            />
            <div class="carousel-caption d-none d-md-block">
              <h2>Footing</h2>
              <p></p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img
              src="https://i.imgur.com/CuRKnu3.jpg"
              class="img-fluid "
             
            />
            <div class="carousel-caption d-none d-md-block">
              <h2>Lecture</h2>
              <p></p>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>

      </div>
      </section>
    </main>
